ALTER FUNCTION [dbo].[InStockCalculations] 
(
	-- Add the parameters for the function here
	@PartID INT
)
RETURNS INT
AS
BEGIN
	-- Declare the return variable here
	 DECLARE @TEMP_V_1 INT;
	 DECLARE @TEMPTABLE AS TABLE(StockInHand INT)


	 INSERT INTO @TEMPTABLE
	 SELECT SUM(Inv_Parts_StockInHand.StockInHand) FROM Inv_Parts
	 INNER JOIN Inv_Parts_StockInHand ON Inv_Parts_StockInHand.PartId=Inv_Parts.id
	 WHERE Inv_Parts_StockInHand.PartId=@PartID
	 Group by Inv_Parts_StockInHand.PartId

	-- Return the result of the function
	SET @TEMP_V_1= (select SUM(StockInHand) from @TEMPTABLE);

	RETURN @TEMP_V_1

END
