ALTER PROCEDURE [IV].[Get_Inv_RT_POReport] 
	-- Add the parameters for the stored procedure here
	@Operation		INT=NULL,
	@SearchVar		Varchar(max)=null,	
	@PartID			INT=NULL,
	@PurchaseOrderID	INT=NULL,	
	@SourceID		INT=NULL,	
	@msg			VARCHAR(500)='' OUTPUT
AS
BEGIN

	IF(@Operation=1)
	BEGIN
	DECLARE @SQL AS VARCHAR(MAX)=NULL
		SET @SQL='DECLARE @TempTableInner as Table( PONumber varchar(50), PartNo varchar(50),  [Description] varchar(500),  OrderDate   varchar(20), Requestor   varchar(50),  Sourceid    varchar(10),  Destination varchar(100) ,OrderQty    int, ShipQty     int, PendingQty  int,  DetailsStatus varchar(10), Shipmentby  VARCHAR(10), UM varchar(10),   POId int, PartID int,  IsSubmitted int )  

		INSERT INTO @TempTableInner SELECT   Inv_PurchaseOrder_Manual.PONumber, MIN(Inv_Parts.PartNumber) AS PartNumber,MIN(Inv_Parts.PartDes) AS PartDes,  MIN(FORMAT(CONVERT(DATE, IssueDate, 1), ''MMM dd/yyyy'')) AS OrderDate,  CASE WHEN MIN(Inv_PurchaseOrderDetail_Manual.Requestor) IS NULL THEN   concat(MIN(EmpRequestor.FirstName) + '' '', MIN(EmpRequestor.LastName))  ELSE concat(MIN(EmpPORequestor.FirstName) + '' '', MIN(EmpPORequestor.LastName)) end as Requestor,  MIN(Inv_Source.[WarehouseName]) AS [Source],MIN(Inv_Warehouse.[WarehouseName]) AS [Destination],
		CASE WHEN MIN(Inv_PurchaseOrderDetail_Manual.ReqID) IS NOT NULL THEN SUM(OrderQty) ELSE MIN(OrderQty) END AS OrderQty,
		NULL AS ShipQty,NULL AS PendingQty,  MIN(Inv_PurchaseOrderDetail_Manual.StatusID) AS StatusID,  
  
		CASE WHEN MIN(Inv_PurchaseOrderDetail_Manual.ReqID) IS NULL THEN MIN(Inv_PurchaseOrderDetail_Manual.ShipmentBy)  ELSE MIN(Inv_RequisitionDetail.ShipmentBy) END AS ShipmentBy,MIN(Inv_UM.UM) AS [UM],
		MIN(Inv_PurchaseOrder_Manual.Id) AS POId,  Inv_Parts.id, MIN(Inv_PurchaseOrder_Manual.IsSubmitted) AS IsSubmitted 

		FROM Inv_PurchaseOrderDetail_Manual  Inner join Inv_PurchaseOrder_Manual on Inv_PurchaseOrder_Manual.Id=Inv_PurchaseOrderDetail_Manual.PurchaseOrderId  
		LEFT JOIN Inv_RequisitionDetail ON Inv_RequisitionDetail.id=Inv_PurchaseOrderDetail_Manual.ReqDetailID  
		LEFT JOIN tblEmployees as EmpRequestor ON EmpRequestor.EmployeeID=Inv_RequisitionDetail.Requestor  
		LEFT JOIN tblEmployees as EmpPORequestor ON EmpPORequestor.EmployeeID=Inv_PurchaseOrderDetail_Manual.Requestor  
		LEFT JOIN Inv_Parts ON Inv_Parts.id=Inv_PurchaseOrderDetail_Manual.PartId  
		LEFT JOIN Inv_Warehouse AS Inv_Source ON Inv_Source.id=Inv_PurchaseOrder_Manual.SourceId  
		LEFT JOIN Inv_Warehouse ON Inv_Warehouse.Id=Inv_PurchaseOrder_Manual.WareHouseID
		LEFT JOIN Inv_UM ON Inv_UM.id=Inv_Parts.UMId  Group by Inv_PurchaseOrder_Manual.PONumber,Inv_Parts.id

			DECLARE @PART_ID int  DECLARE @PO_id int DECLARE CUR_PART CURSOR  
			STATIC FOR SELECT Partid,POID FROM @TempTableInner   
			OPEN  CUR_PART  
			IF @@CURSOR_ROWS > 0  
			BEGIN FETCH NEXT FROM CUR_PART INTO @PART_ID,@PO_id  
			WHILE @@Fetch_status = 0  
			BEGIN   
			
			--UPDATE @TempTableInner SET OrderQty=(SELECT CASE WHEN MIN(ReqID) IS NOT NULL THEN SUM(OrderQty) ELSE MIN(OrderQty) END AS OrderQty FROM  Inv_PurchaseOrderDetail_Manual  WHERE Inv_PurchaseOrderDetail_Manual.PartId=@PART_ID AND Inv_PurchaseOrderDetail_Manual.PurchaseOrderId=@PO_id  GROUP BY Inv_PurchaseOrderDetail_Manual.PurchaseOrderId,PartId) WHERE PartID=@PART_ID AND POId=@PO_id 
			
			UPDATE @TempTableInner SET ShipQty=(SELECT SUM(ShipQty) FROM Inv_ContainerDetail WHERE Inv_ContainerDetail.PartId=@PART_ID  AND POId=@PO_id ) WHERE PartID=@PART_ID AND POId=@PO_id 
			
			
			FETCH NEXT FROM CUR_PART INTO @PART_ID,@PO_id  END  END CLOSE CUR_PART DEALLOCATE CUR_PART 
			

			SELECT PONumber,POId,PartID, PartNo,[Description],OrderDate,  Requestor,Sourceid as [Source],[Destination],OrderQty,ShipQty,  case when (ISNULL(OrderQty,0)-ISNULL(ShipQty,0))<0 then 0 else (ISNULL(OrderQty,0)-ISNULL(ShipQty,0)) end as  PendingQty,  CASE WHEN ISNULL(DetailsStatus,1)=1 Then ''Open'' WHEN DetailsStatus=2 THEN ''Close'' WHEN
			 DetailsStatus=3 Then ''Cancelled''
			End AS [Status],  CASE WHEN Shipmentby=1 Then 
			''By Sea'' When Shipmentby=2 Then ''By Air'' End as Shipby,UM  FROM @TempTableInner  WHERE PONumber IS NOT NULL ' +@SearchVar

			EXEC(@SQL)
			
	END
	ELSE IF(@Operation=2)
	BEGIN
		
			SELECT [WarehouseName] as Destination,InvoiceNo,ContainerNo,
			CASE WHEN SentDate IS NULL THEN FORMAT(CONVERT(DATE, TentativeSentDate, 1), 'MMM dd/yyyy')
			ELSE
			FORMAT(CONVERT(DATE, SentDate, 1), 'MMM dd/yyyy') END as SentDate ,
			FORMAT(CONVERT(DATE, ReceivedDate, 1), 'MMM dd/yyyy') as ReceivedDate,PartId,Inv_ContainerDetail.POId,ShipQty as ShipQty FROM Inv_ContainerDetail 
			INNER JOIN Inv_Container ON Inv_Container.id=Inv_ContainerDetail.ContainerId
			LEFT JOIN Inv_Warehouse ON Inv_Warehouse.Id=Inv_Container.WareHouseID
			WHERE Inv_ContainerDetail.POId=@PurchaseOrderID AND PartID=@PartID
			Order by PartId,POId ASC


	END
	ELSE IF(@Operation=3)
	BEGIN
	DECLARE @PartFilter as Varchar(Max)=NULL
	SET @PartFilter='SELECT DISTINCT
			Inv_Parts.id as PartID,Concat(Inv_Parts.PartNumber + '' '', Inv_Parts.PartDes) 
			AS PartDes  
			FROM Inv_PurchaseOrderDetail_Manual
			Inner join Inv_PurchaseOrder_Manual 
			on Inv_PurchaseOrder_Manual.Id=Inv_PurchaseOrderDetail_Manual.PurchaseOrderId
			LEFT JOIN Inv_RequisitionDetail 
			ON Inv_RequisitionDetail.id=Inv_PurchaseOrderDetail_Manual.ReqDetailID
			LEFT JOIN tblEmployees as EmpRequestor 
			ON EmpRequestor.EmployeeID=Inv_RequisitionDetail.Requestor
			LEFT JOIN tblEmployees as EmpPORequestor 
			ON EmpPORequestor.EmployeeID=Inv_PurchaseOrderDetail_Manual.Requestor
			LEFT JOIN Inv_Parts 
			ON Inv_Parts.id=Inv_PurchaseOrderDetail_Manual.PartId
			LEFT JOIN Inv_Source 
			ON Inv_Source.id=Inv_PurchaseOrder_Manual.SourceId
			LEFT JOIN Inv_UM 
			ON Inv_UM.id=Inv_Parts.UMId
			WHERE Inv_Parts.id IS NOT NULL '+@SearchVar

			EXEC(@PartFilter)
	END

	ELSE IF(@Operation=4)
	BEGIN
		SELECT WareHouseID AS SourceId		
		,[Name] AS [Source] FROM FilterWarehouse(@SourceID)
		ORDER BY [Name] ASC
	END
END
