CREATE PROCEDURE [IV].[INV_GenerateRequisition]
-- Add the parameters for the stored procedure here
@Reqid AS int=NULL
AS
BEGIN
-- SET NOCOUNT ON added to prevent extra result sets from
-- interfering with SELECT statements.
SET NOCOUNT ON;

-- Insert statements for procedure here
SELECT Inv_Requisition.ReqNo AS Reqid,Inv_Source.[Source] as ReqFor,PreEmp.FirstName as Preparedby,
AppEmp.FirstName as Approvedby,
 convert(Varchar(10),Inv_Requisition.TentativeShipDate,101) as TentativeShipDate,Inv_Source.[Address] as SourceAddress,
convert(Varchar(10),Inv_Requisition.ReqDate,101) as ReqDate,
CASE WHEN Inv_Parts.revisionno <> '' THEN CONCAT(Inv_Parts.PartNumber + ' ', CustomerPartNumber) + ' (' +Inv_Parts.revisionno + ')'
ELSE
Inv_Parts.PartNumber END as PartNumber,Inv_Parts.PartDes,
Inv_ProductCode.[name] as ProductCode,Inv_Department.[Department],Inv_UM.UM,
Inv_RequisitionDetail.PartQty as OrderQty,
CASE WHEN Inv_RequisitionDetail.OrderType=1 Then 'Regular'
WHEN Inv_RequisitionDetail.OrderType=2 Then 'Quarterly'
WHEN Inv_RequisitionDetail.OrderType=3 Then 'Half Yearly'
WHEN Inv_RequisitionDetail.OrderType=4 Then 'Yearly'
WHEN Inv_RequisitionDetail.OrderType=5 Then 'Open Orders'
END AS OrderType,
CASE WHEN Inv_RequisitionDetail.ShipmentBy=1 Then 'By Sea'
WHEN Inv_RequisitionDetail.ShipmentBy=2 Then 'By Air'
End as ShipBy,CASE WHEN Inv_RequisitionDetail.[Priority]=1 THEN 'Urgent' ELSE 'Normal' END as [Priority]
FROM Inv_Parts INNER JOIN Inv_RequisitionDetail
ON Inv_RequisitionDetail.PartId=Inv_Parts.id
INNER JOIN Inv_Requisition ON Inv_Requisition.id=Inv_RequisitionDetail.ReqId
LEFT JOIN Inv_Source ON Inv_Source.id=Inv_Parts.SourceId
LEFT JOIN tblEmployees AS PreEmp ON PreEmp.EmployeeID=Inv_Requisition.PreparedBy
LEFT JOIN tblEmployees AS AppEmp ON AppEmp.EmployeeID=Inv_Requisition.AppBy
LEFT JOIN Inv_ProductCode ON Inv_ProductCode.id=Inv_Parts.productcode
LEFT JOIN Inv_UM ON Inv_UM.id=Inv_Parts.UMid
LEFT JOIN Inv_Department ON Inv_Department.id=Inv_Parts.DepartmentId
WHERE Inv_RequisitionDetail.ReqId=@Reqid
Order by [Priority] desc



END
