ALTER PROCEDURE [IV].[Get_SearchContainer]
	-- Add the parameters for the stored procedure here
	@SearchVar		Varchar(MAX)=NULL,
	@Operation		INT=NULL,	
	@SourceID		INT=NULL,	
	@msg VARCHAR(500)='' OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if(@Operation=1)
	BEGIN
		--Table 0
		SELECT Id as SourceId,
		Inv_Warehouse.[WarehouseName] AS [Source] 		
		FROM Inv_Warehouse
		Order by Inv_Warehouse.[WarehouseName] ASC

		--Table 1
		Select Inv_Container.id as Containerid,
		CASE WHEN Inv_Container.ContainerNo IS NOT NULL THEN 
		CONCAT(Inv_Container.InvoiceNo + '/', Inv_Container.ContainerNo)
		WHEN Inv_Container.ContainerNo  IS NULL THEN
		Inv_Container.InvoiceNo END AS InvoiceNo
		from Inv_Container Where Inv_Container.IsSubmitted=1 
		Order by InvoiceNo ASC

		--Table 2
		Select Inv_PurchaseOrder_Manual.id as [PurchaseOrderID],
		Inv_PurchaseOrder_Manual.PONumber from Inv_PurchaseOrder_Manual
		Where Inv_PurchaseOrder_Manual.PONumber is not null
		Order by Inv_PurchaseOrder_Manual.PONumber asc
	END

	if(@Operation=2)
	BEGIN
	DECLARE @Qry as VARCHAR(MAX)='
	 SELECT INV_Container.ContainerNo,Inv_PurchaseOrder_Manual.PONumber AS PONumber,Inv_Parts.PartNumber as Part#,  Inv_Parts.PartDes AS [Description], convert(varchar,Inv_PurchaseOrder_Manual.IssueDate,1) AS OrderDate,  convert(varchar,Inv_Container.SentDate,1) AS SentDate, tblEmployees.FirstName + '' '' +ISNULL(tblEmployees.LastName,'''') as Requestor,  Inv_Container.Sourceid,Inv_ContainerDetail.[Status] AS [Status],  Inv_PurchaseOrderDetail_Manual.OrderQty AS OrderQty, Inv_ContainerDetail.ShipQty AS ShipQty,  CASE WHEN Inv_ContainerDetail.[Status]=1 THEN ''Open''  WHEN Inv_ContainerDetail.[Status]=2 THEN ''Close''  WHEN Inv_ContainerDetail.[Status] IS NULL THEN ''Open'' END AS DetailsStatus,Inv_Container.Shipmentby AS Shipmentby,  Inv_UM.UM AS UM   FROM Inv_PurchaseOrderDetail_Manual  LEFT JOIN Inv_ContainerDetail ON Inv_ContainerDetail.PODetailid=Inv_PurchaseOrderDetail_Manual.Id   LEFT JOIN Inv_Container ON Inv_Container.id=Inv_ContainerDetail.ContainerId   LEFT JOIN Inv_PurchaseOrder_Manual ON Inv_PurchaseOrder_Manual.Id=Inv_PurchaseOrderDetail_Manual.PurchaseOrderId  LEFT JOIN Inv_Parts ON Inv_Parts.id=Inv_PurchaseOrderDetail_Manual.PartId  LEFT JOIN tblEmployees ON tblEmployees.EmployeeID=Inv_PurchaseOrderDetail_Manual.Requestor  LEFT JOIN Inv_UM ON Inv_UM.id=Inv_Parts.UMId
	 '+@SearchVar 


	END
	ELSE IF(@Operation=3)
	BEGIN
		SELECT WareHouseID AS SourceId		
		,[Name] AS [Source] FROM FilterWarehouse(@SourceID)
		ORDER BY [Name] ASC
	END
END
