

ALTER PROCEDURE [dbo].[aero_ManageProjectsEng]
@JobID NVARCHAR(50) = NULL,
@JobOrderDate DATETIME = NULL,
@OrderBelongsToDELETE INT = NULL,
@PORec DATETIME = NULL,
@OASentTo NVARCHAR(50) = NULL,
@OASentToContact NVARCHAR(50) = NULL,
@QuoteSelected NVARCHAR(50) = NULL,
@JobOrderAck DATETIME = NULL,
@JobOADis DATETIME = NULL,
@ProposalID NVARCHAR(50) = NULL,
@CustomerID INT = NULL,
@ModelID INT = NULL,
@ConveyorTypeID INT = NULL,
@ServiceRepID INT = NULL,
@ShipperID INT = NULL,
@ShippingCommit CHAR(1) = NULL,
@SiteContact NVARCHAR(50) = NULL,
@SiteContactTelephone NVARCHAR(50) = NULL,
@DateAsBuiltDrgsSent NVARCHAR(50) = NULL,
@EstReleaseDate NVARCHAR(50) = NULL,
@ReleaseDate NVARCHAR(50) = NULL,
@ReleaseDateChina NVARCHAR(50) = NULL,
@TestRunDate NVARCHAR(50) = NULL,
@EstCompletionDate DATETIME = NULL,
@ActualCompletionDate DATETIME = NULL,
@ShipDate DATETIME = NULL,
@ShipToArriveDate DATETIME = NULL,
@ArrivalDate DATETIME = NULL,
@ManualDispatchDate  DATETIME = NULL,
@InstallationBy NVARCHAR(50) = NULL,
@InstallDate DATETIME = NULL,
@InstallationCompletionDate DATETIME = NULL,
@NoInstallation NVARCHAR(50) = NULL,
@DemoDate DATETIME = NULL,
@WarrantyStartDate DATETIME = NULL,
@WarrantyEndDate DATETIME = NULL,
@FollowUpDate DATETIME = NULL,
@CustCarePackageSendDate DATETIME = NULL,
@PONumber NVARCHAR(50) = NULL,
@InvoiceNumber NVARCHAR(50) = NULL,
@DateInvoiceSent DATETIME = NULL,
@DatePaymentReceived DATETIME = NULL,
@DateCommissionPaid DATETIME = NULL,
@KflexCheckNumber NVARCHAR(50) = NULL,
@CommissionType NVARCHAR(50) = NULL,
@SalesSourceID NVARCHAR(50) = NULL,
@ProjectCommissionText NVARCHAR(500) = NULL,

@ShipToName NVARCHAR(50) = NULL,
@ShipToStreet NVARCHAR(50) = NULL,
@ShipToCity NVARCHAR(50) = NULL,
@ShipToState NVARCHAR(50) = NULL,
@ShipToCountry NVARCHAR(50) = NULL,
@ShipToZipCode NVARCHAR(50) = NULL,
@discount NVARCHAR(50) = NULL,
@fob NVARCHAR(50) = NULL,
@term NVARCHAR(50) = NULL,
@IndComDate DATETIME = NULL,
@AeroChequeNum NVARCHAR(50) = NULL,
@PreInspectionDate DATETIME = NULL,
@CheckedByOffice NVARCHAR(50) = NULL,
@CheckedByPlant NVARCHAR(50) = NULL,
@DigitalPicOnServer NVARCHAR(50) = NULL,
@ReferenceDrawing NVARCHAR(50) = NULL,
@DealerMember NVARCHAR(50) = NULL,
@BuyOutCost NVARCHAR(50) = NULL,
@RawMaterial NVARCHAR(50) = NULL,
@ExWarrantyPrice NVARCHAR(50) = NULL,
@NetAmount NVARCHAR(50) = NULL,
@FreightPaid NVARCHAR(50) = NULL,
@GST NVARCHAR(50) = NULL,
@InstallatorA NVARCHAR(50) = NULL,
@InstallatorB NVARCHAR(50) = NULL,
@InstallatorC NVARCHAR(50) = NULL,
@ConCost NVARCHAR(50) = NULL,
@ConRoylAmt NVARCHAR(50) = NULL,
@ConCheckNo NVARCHAR(50)  =NULL,
@ConChqPaidDt NVARCHAR(50) = NULL,
@Comments NVARCHAR(50) = NULL,
@ReviewedBy NVARCHAR(50) = NULL,
@DrgSentOutforApproval NVARCHAR(50) = NULL,
@AppDrgWithFieldDimension NVARCHAR(50) = NULL,
@AppDrgAck NVARCHAR(50) = NULL,
@EquipDelConfirmed NVARCHAR(50) = NULL,
@AccReqFromCustomer NVARCHAR(50) = NULL,
@BuiltDrgWithUnderStruSent NVARCHAR(50) = NULL,
@ProjDataPrepBy NVARCHAR(50) = NULL,
@ProjFormReviewByAI NVARCHAR(50) = NULL,
@ProjFormReviewByHO NVARCHAR(50) = NULL,
@FabDrgReviewByAI NVARCHAR(50) = NULL,
@FabDrgReviewByHO NVARCHAR(50) = NULL,
@PFRBAIDate DATETIME = NULL,
@PFRBHODate DATETIME = NULL,
@FDRBAIDate DATETIME = NULL,
@FDRBHODate DATETIME = NULL,
@FeedBackConsultant NVARCHAR(50) = NULL,
@FeedBackDealer NVARCHAR(50) = NULL,
@SummofSugg NVARCHAR(50) = NULL,
@SpecCredits NVARCHAR(50) = NULL,
@SpecCreditPercentID NVARCHAR(50) = NULL,
@SpecCreditAmount NVARCHAR(50) = NULL,
@SpecCreditCheckNo NVARCHAR(50) = NULL,
@SpecCreditPaidDate NVARCHAR(50) = NULL,
@GSICommissionType NVARCHAR(50) = NULL,
@GSICommissionAmount NVARCHAR(50) = NULL,
@GSICommissionCheckNo NVARCHAR(50) = NULL,
@GSICommissionSentDate NVARCHAR(50) = NULL,
@ProjectName VARCHAR(100) = NULL,

--PFILES COLUMNS START
@DealerID SMALLINT = NULL,
@OriginRepID INT = NULL,
@ConsultRepID INT = NULL,
@RepID INT = NULL,
@ConsultantID INT = NULL,
@ConsultantMemberId INT = NULL,
@Price DECIMAL(18, 2) = NULL,
@Freight DECIMAL(18, 2) = NULL,
@Installation DECIMAL(18, 2) = NULL,
@CurrencyID  INT = NULL,
@CurrentStatus VARCHAR(20) = NULL,
@OrderProbabilityID  INT = NULL,
@DetailedQuote BIT = NULL,
@Specifications BIT  =NULL,
@DPics BIT = NULL,
@RefDrawing BIT = NULL,
@EqDisAmount  DECIMAL(18, 2) = NULL,
@EqDiscount  DECIMAL(18, 2) = NULL,
@NetEqPrice  DECIMAL(18, 2) = NULL,
--Fabrication tab
@DateAssigned DATETIME = NULL,
@DateAssignedChina DATETIME = NULL,
@ProjectDesignerID NVARCHAR(50) = NULL,
@ProjectDesignerChinaID NVARCHAR(50) = NULL,
@MfgFacilityID INT = NULL,
@DueDateCanada DATE = NULL,
@FabSentToCanada DATE = NULL,
@FabSentToCanada_China DATE = NULL,
@EngineerCanada NVARCHAR(255) = NULL,
@ExpectedArrivalDatefromChina DATE = NULL,
@PurchasedItems CHAR(1) = NULL,
@PurchasedItemsCAD CHAR(1) = NULL,
--Nesting
@ReleasedToNesting	DATE = NULL,
@ReleasedToShop	DATE = NULL,
@NestingStatus CHAR(2) = NULL,
--PFILES COLUMNS END
--Shop Drawing
@sDrgNum NVARCHAR(50) = NULL,
@sDrgJID NVARCHAR(50) = NULL,
@sDrgWantDate DATETIME = NULL,
@sDrgExpecApprovalDate DATETIME = NULL,
@sDrgPromiseDate DATETIME = NULL,
@sDrgSentToRCD DATETIME = NULL,
@sDrgAppDate DATETIME = NULL,
@sNextFolowupDate DATETIME = NULL,
@sDateFollowedUp DATETIME = NULL,
@sDrgComment NVARCHAR(500) = NULL,
@sReleasedToFabDate Date=NULL,
@sReleasedToShopDate Date=NULL,
@ExistingJobID NVARCHAR(255) = NULL,
@ProjectStatus INT = NULL,
@JobType VARCHAR(50) = NULL,
@projectmanager	INT = NULL,
@ShipStatus CHAR(1) = NULL,
@sDateReleasedToFab DATE = NULL,
@Operation INT = NULL,
@UserID INT = NULL,
@CashDisAmt DECIMAL(18, 2) = NULL,
@CashDisPer DECIMAL(18, 2) = NULL,
@CashAmtRec DECIMAL(18, 2) = NULL,
@AmountForComission DECIMAL(18, 2) = NULL,
@PMPack BIT = NULL,
@Status INT = NULL,
@Issued CHAR(1) = NULL,
@filepath varchar(max)=null,
@ShipDateFromChina DATE = NULL,
@ContainerNo VARCHAR(50) = NULL,
@CorrectedBy INT=NULL,
@sReleasedTo CHAR(1)=NULL,
@ProductionStatus CHAR(1) = NULL,
@ProductionRemarks VARCHAR(500) = NULL,
@ProjectReviewerChinaID NVARCHAR(50) = NULL,
@FabDrawingPercentage INT = NULL,
@ExpectedSubmissionDate DATETIME = NULL,
@ActualSubmissionDate DATETIME = NULL,
@ProjectQuality INT = NULL,
@CorrectedBy_ProjectFeedback INT = NULL,
@CorrectedByEngineer INT = NULL,
@QCReportSentDate DATETIME = NULL,
@QCReportReceivedDate DATETIME = NULL,
@AssignedDate DATETIME = NULL,
@ExpectedSubmissionDate_FabCanada DATETIME = NULL,
@WareHouseId INT = NULL,
@Msg VARCHAR(500) = '' OUTPUT
AS
BEGIN
	IF(@Operation = 1)
	BEGIN
		--TABLE 0
		SELECT tblEmployees.EmployeeID, tblEmployees.Active, tblEmployees.[firstname] + ' ' + [lastname] AS [Name]
		FROM tblEmployees
		WHERE tblEmployees.EmployeeID IN (75, 40, 89, 264) AND (Active = 1)	
		ORDER BY [Name]
		
		--TABLE 1. FAB PROJECT DESIGNER CANADA
		SELECT EmployeeID, Abbrivation
		FROM dbo.tblEmployees
		WHERE (Department = 'EI' OR Department = 'EC' OR Department = 'I') 
		AND (Active = 1) AND  (EmployeeID IN (212, 197, 161, 264, 277, 311, 312, 332, 1376, 1377,292))
		ORDER BY Abbrivation;

		--TABLE 2
		SELECT tblEmployees.FirstName AS [Name]
		FROM tblEmployees
		WHERE tblEmployees.EmployeeID IN (33, 75, 40)
		ORDER BY tblEmployees.FirstName;

		--TABLE 3
		SELECT tblMfgFacility.ID, tblMfgFacility.FacilityName
		FROM tblMfgFacility
		ORDER BY tblMfgFacility.FacilityName;

		--TABLE 4. FAB PROJECT DESIGNER CHINA
		SELECT EmployeeID, isnull(FirstName,'') + ' ' + isnull(LastName, '') AS Abbrivation
		FROM dbo.tblEmployees
		WHERE 
		--(Department = 'EI' OR Department = 'EC' OR Department = 'I') AND 
		(Active = 1) AND (CountryId = 13)
		AND Department = 'EC'
		ORDER BY Abbrivation;

		--Table 5
		SELECT EmployeeID, ISNULL(FirstName, '') + ' ' + ISNULL(LastName, '') + ' (' + Abbrivation + ')' AS Abbrivation
		FROM dbo.tblEmployees
		WHERE (Department = 'EI' OR Department = 'EC' OR Department = 'I') 
		AND (Active = 1) AND (EmployeeID IN (212, 197, 161, 277, 311, 312, 332, 292))
		ORDER BY Abbrivation;

		SELECT CountryID AS [id], Country AS [text]
		FROM tblCountries
		WHERE CountryID IN (13, 19)
		ORDER BY Country
		
		SELECT id, WarehouseName AS [text]
		FROM Inv_Warehouse
		ORDER BY WarehouseName
	END

	ELSE IF(@Operation = 2)
	BEGIN
		SELECT tblProjects.JobID, ISNULL(tblProjects.ProposalID, '') AS ProposalID, ISNULL(tblProjects.ProjectStatus, 0) AS ProjectStatus, 
		ISNULL(tblProjects.ReleaseDate, NULL) AS ReleaseDate, ISNULL(tblProjects.ReleaseDateChina, NULL) AS ReleaseDateChina, 
		ISNULL(tblProjects.ExpectedArrivalDatefromChina, NULL ) AS ExpectedArrivalDatefromChina, 
		ISNULL(tblProjects.ReviewedBy, '') AS ReviewedBy, ISNULL(tblProjects.[Status], 0) AS [Status], ISNULL(tblProjects.PurchasedItems, '0') AS PurchasedItems,
		ISNULL(tblProjects.DateAssigned, NULL) AS DateAssigned, ISNULL(tblProjects.DateAssignedChina, NULL) AS DateAssignedChina, ISNULL(tblProjects.ProjectDesignerID, '') AS 	ProjectDesignerID, 
		ISNULL(tblProjects.ProjectDesignerChinaID, '') AS ProjectDesignerChinaID, ISNULL(tblProjects.FabProjectReviewerChinaID, '') AS FabProjectReviewerChinaID, ISNULL(tblProjects.FabDrawingPercentage, '') AS FabDrawingPercentage,
		ISNULL(tblProjects.DueDateCanada, NULL) AS DueDateCanada, ISNULL(tblProjects.FabSentToCanada, NULL ) AS FabSentToCanada, ISNULL(tblProjects.FabSentToCanada_China, NULL) 	AS FabSentToCanada_China, 
		ISNULL(tblProjects.MfgFacilityID, '0') AS MfgFacilityID, ISNULL(tblProjects.Issued, '0') AS Issued, ISNULL(tblProjects.ReleasedToNesting, NULL) AS ReleasedToNesting, 
		ISNULL(tblProjects.ReleasedToShop, NULL) AS ReleasedToShop, ISNULL(tblProjects.NestingStatus, '8') AS NestingStatus, ISNULL(tblProjects.ReleaseToShop, 0) AS ReleaseToShop,
		ISNULL(tblEmployees.FirstName + ', ' + tblEmployees.LastName, '') AS ProjectManager, ISNULL(tblProjects.ExpectedSubmissionDate, NULL) AS ExpectedSubmissionDate, ISNULL(tblProjects.ActualSubmissionDate, NULL) AS ActualSubmissionDate, 
		ISNULL(TRIM(dbo.tblHobartListing.FirstName) + ' ' + TRIM(dbo.tblHobartListing.LastName), '') AS DestinationRep, ISNULL(tblProjects.WarehouseId, 0) AS WarehouseId,
		ISNULL(tblConsultants.CompanyName, '') AS Consultant, ISNULL(tblProjects.PurchasedItemsCAD, '0') AS PurchasedItemsCAD, ISNULL(tblProjects.ShipDateFromChina, NULL) AS 	ShipDateFromChina,
		ISNULL(tblProjects.ContainerNo, NULL) AS ContainerNo,ISNULL(tblProjects.CorrectedBy, 0) AS CorrectedBy, ISNULL(ProductionStatus, '') AS ProductionStatus, ISNULL(ProductionRemarks, '') AS ProductionRemarks,
		ISNULL(tblProjects.ProjectQuality, '') AS ProjectQuality, ISNULL(tblProjects.CorrectedBy_ProjectFeedback, 0) AS CorrectedBy_ProjectFeedback, ISNULL(tblProjects.CorrectedByEngineer, 0) AS CorrectedByEngineer,
		ISNULL(tblProjects.QCReportSentDate, NULL) AS QCReportSentDate, ISNULL(tblProjects.QCReportReceivedDate, NULL) AS QCReportReceivedDate, 
		ISNULL(tblProjects.AssignedDate, NULL) AS AssignedDate, ISNULL(tblProjects.ExpectedSubmissionDate_FabCanada, NULL) AS ExpectedSubmissionDate_FabCanada 
		FROM tblStates 
		RIGHT JOIN ((
		(tblProjects INNER JOIN tblPFiles ON tblProjects.ProposalID = tblPFiles.PNumber)
		LEFT JOIN tblConveyorModel ON tblPFiles.ModelID = tblConveyorModel.ModelID)
		LEFT JOIN tblCustomers ON tblProjects.CustomerID = tblCustomers.CustomerID) ON tblStates.StateID = tblCustomers.StateID
		LEFT JOIN tblEmployees ON tblEmployees.EmployeeID = tblPFiles.projectmanagerid
		LEFT JOIN tblHobartListing ON tblHobartListing.RepID = tblPFiles.RepID
		LEFT JOIN tblConsultants ON tblConsultants.ConsultantID = tblPFiles.ConsultantID
		WHERE tblProjects.JobId = @JobID

		SELECT
		tblShpDrgs.sDrgNum, ISNULL(tblShpDrgs.sDrgJID, '') AS sDrgJID,  
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sDrgSentToRCD, 101), '') AS sDrgSentToRCD,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sDrgAppDate, 101), '') AS sDrgAppDate, 
		tblShpDrgs.sDrgComment, 
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sDrgWantDate, 101), '') AS sDrgWantDate,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sDrgPromiseDate, 101), '') AS sDrgPromiseDate,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sDrgExpecApprovalDate, 101), '') AS sDrgExpecApprovalDate,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sNextFolowupDate, 101), '') AS sNextFolowupDate,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sDateFollowedUp, 101), '') AS sDateFollowedUp,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sDateReleasedToFab, 101), '') AS sDateReleasedToFab,
		CASE WHEN tblShpDrgs.sReleasedTo='F' Then 'Release To Fab' When tblShpDrgs.sReleasedTo='S' Then
		'Release To Shop' END AS sReleasedToText,
		sReleasedTo as sReleasedTo,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sReleasedToFabDate, 101), '') AS sReleasedToFabDate,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sReleasedToShopDate, 101), '') AS sReleasedToShopDate
		FROM tblShpDrgs 
		LEFT JOIN tblProjects ON tblProjects.JobID = tblShpDrgs.sDrgJID
		WHERE tblProjects.JobID = @JobID
		ORDER BY tblShpDrgs.sDrgNum
	END

	ELSE IF(@Operation = 3)
	BEGIN
		SELECT tblShpDrgs.sDrgNum, ISNULL(tblShpDrgs.sDrgJID, '') AS sDrgJID,  
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sDrgSentToRCD, 101), '') AS sDrgSentToRCD,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sDrgAppDate, 101), '') AS sDrgAppDate, 
		tblShpDrgs.sDrgComment, 
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sDrgWantDate, 101), '') AS sDrgWantDate,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sDrgPromiseDate, 101), '') AS sDrgPromiseDate,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sDrgExpecApprovalDate, 101), '') AS sDrgExpecApprovalDate,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sNextFolowupDate, 101), '') AS sNextFolowupDate,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sDateFollowedUp, 101), '') AS sDateFollowedUp,		
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sDateReleasedToFab, 101), '') AS sDateReleasedToFab,
		CASE WHEN tblShpDrgs.sReleasedTo='F' Then 'Release To Fab' When tblShpDrgs.sReleasedTo='S' Then
		'Release To Shop' END AS sReleasedToText,
		sReleasedTo as sReleasedTo,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sReleasedToFabDate, 101), '') AS sReleasedToFabDate,
		ISNULL(CONVERT(NVARCHAR, tblShpDrgs.sReleasedToShopDate, 101), '') AS sReleasedToShopDate
		FROM tblShpDrgs 
		LEFT JOIN tblProjects ON tblProjects.JobID = tblShpDrgs.sDrgJID
		WHERE tblProjects.JobID = @JobID 
		ORDER BY tblShpDrgs.sDrgNum
	END

	ELSE IF(@Operation = 4)
	BEGIN
		SET @Msg = (SELECT ProjectStatus FROM tblProjects WHERE JobID = @JobID)
	END

	ELSE IF(@Operation = 5)
	BEGIN
		DELETE FROM tblShpDrgs 
		WHERE sDrgNum = @sDrgNum

		SET @msg = 'Records Deleted Successfully !!'
	END
	
	ELSE IF(@Operation = 6)
	BEGIN
		UPDATE tblShpDrgs 
		SET sDrgNum = @sDrgNum, sDrgJID = @sDrgJID, sDrgWantDate = @sDrgWantDate, sDrgPromiseDate = @sDrgPromiseDate, 
		sDrgExpecApprovalDate = @sDrgExpecApprovalDate, sDrgSentToRCD = @sDrgSentToRCD, sDrgAppDate = @sDrgAppDate,
		sNextFolowupDate = @sNextFolowupDate, sDrgComment = @sDrgComment, sDateFollowedUp = @sDateFollowedUp,
		sDateReleasedToFab = @sDateReleasedToFab,sReleasedTo=@sReleasedTo,
		sReleasedToFabDate=@sReleasedToFabDate,sReleasedToShopDate=@sReleasedToShopDate		
		WHERE sDrgNum = @sDrgNum

		SET @msg = 'Records Updated Successfully !!'
	END

	ELSE IF(@Operation = 7)
	BEGIN
		
	BEGIN TRY    
	BEGIN TRANSACTION  
	
		IF EXISTS(SELECT JobID FROM tblProjects WHERE JobID = @JobID)
		BEGIN					
			UPDATE tblProjects
			SET ReleaseDate = @ReleaseDate,	ReleaseDateChina = @ReleaseDateChina, ExpectedArrivalDatefromChina = @ExpectedArrivalDatefromChina, ReviewedBy = @ReviewedBy, 
			CorrectedBy = @CorrectedBy,
			[Status] = @Status,	PurchasedItems = @PurchasedItems, DateAssigned = @DateAssigned, DateAssignedChina = @DateAssignedChina, ProjectDesignerID = @ProjectDesignerID,
			ProjectDesignerChinaID = @ProjectDesignerChinaID, FabProjectReviewerChinaID = @ProjectReviewerChinaID, FabDrawingPercentage = @FabDrawingPercentage,
			MfgFacilityID = @MfgFacilityID, Issued = @Issued, DueDateCanada = @DueDateCanada, FabSentToCanada = @FabSentToCanada, FabSentToCanada_China = @FabSentToCanada_China,
			ReleasedToNesting = @ReleasedToNesting, ReleasedToShop = @ReleasedToShop, NestingStatus = @NestingStatus,
			filepath = @filepath, ShipDateFromChina = @ShipDateFromChina, ContainerNo = @ContainerNo, ProductionStatus = @ProductionStatus, ProductionRemarks = @ProductionRemarks,
			ExpectedSubmissionDate = @ExpectedSubmissionDate, ActualSubmissionDate = @ActualSubmissionDate, ProjectQuality = @ProjectQuality, 
			CorrectedBy_ProjectFeedback = @CorrectedBy_ProjectFeedback, CorrectedByEngineer = @CorrectedByEngineer, QCReportSentDate = @QCReportSentDate,
			QCReportReceivedDate = @QCReportReceivedDate, AssignedDate = @AssignedDate, ExpectedSubmissionDate_FabCanada = @ExpectedSubmissionDate_FabCanada, WarehouseId = @WareHouseId
			WHERE JobID = @JobID		
					
			SET @Msg = '1'			
		END		
		COMMIT TRANSACTION  
	END TRY

	BEGIN CATCH   
	IF @@TRANCOUNT > 0  
		ROLLBACK TRANSACTION  	
	END CATCH  		
	END

	ELSE IF(@Operation = 8)
	BEGIN
		DECLARE @i int = 0;
	
		SET @i = (SELECT COUNT(tblShpDrgs.sDrgNum) FROM tblShpDrgs WHERE sDrgJID = @sDrgJID)
		IF (@i = 0)
		BEGIN	
			INSERT INTO tblShpDrgs 
			(sDrgNum, sDrgJID, sDrgWantDate, sDrgPromiseDate, sDrgExpecApprovalDate,
				sDrgSentToRCD, sDrgAppDate, sNextFolowupDate, sDrgComment, sDateFollowedUp, sDateReleasedToFab,sReleasedTo,sReleasedToFabDate,sReleasedToShopDate)
			VALUES 
			(@sDrgJID, @sDrgJID, @sDrgWantDate, @sDrgPromiseDate, @sDrgExpecApprovalDate,
			@sDrgSentToRCD, @sDrgAppDate, @sNextFolowupDate, @sDrgComment, @sDateFollowedUp, @sDateReleasedToFab,@sReleasedTo,@sReleasedToFabDate,@sReleasedToShopDate)

			SET @msg = 'Records Added Successfully !!'	
		END
		ELSE IF(@i > 0)
		BEGIN	
			INSERT INTO tblShpDrgs 
			(sDrgNum,sDrgJID, sDrgWantDate, sDrgPromiseDate, sDrgExpecApprovalDate,
				sDrgSentToRCD, sDrgAppDate, sNextFolowupDate, sDrgComment, sDateFollowedUp, sDateReleasedToFab,sReleasedTo,sReleasedToFabDate,sReleasedToShopDate)
			VALUES 
			(@sDrgJID + '-R' + CAST(@i AS VARCHAR(10)), @sDrgJID, @sDrgWantDate, @sDrgPromiseDate, @sDrgExpecApprovalDate,
				@sDrgSentToRCD, @sDrgAppDate, @sNextFolowupDate, @sDrgComment, @sDateFollowedUp, @sDateReleasedToFab,@sReleasedTo,@sReleasedToFabDate,@sReleasedToShopDate)
	
			SET @msg = 'Records Added Successfully !!'
		END
	END

	ELSE IF(@Operation = 9)
	BEGIN
		SET @msg = (SELECT TOP 1 CountryId FROM tblEmployees WHERE EmployeeID = @UserID)
	END

	ELSE IF(@Operation = 10)
	BEGIN
		SET @msg = '800'
	END

	ELSE IF(@Operation = 11)
	BEGIN
		IF(@UserID IN (96, 263))
		BEGIN
			SET @Msg = '1'
		END
		ELSE
		BEGIN
			SET @Msg = '0'
		END
	END

	ELSE IF(@Operation = 12)
	BEGIN
		SELECT filepath 
		FROM tblProjects 
		WHERE JobID = @JobID
	END

	ELSE IF(@Operation = 13)
	BEGIN
		UPDATE tblProjects SET filepath = NULL 
		WHERE JobID = @JobID

		SET @Msg = 'Plan View Deleted Successfully !!'
	END

	ELSE IF(@Operation = 14)
	BEGIN
		DECLARE @CheckFabProjectDesignerID AS INT = NULL
		SET @CheckFabProjectDesignerID = (SELECT CountryId FROM tblEmployees WHERE EmployeeID = @UserID)
		IF(@CheckFabProjectDesignerID = 13)
		BEGIN
			SET @Msg = 1;
		END
		ELSE
		BEGIN
			SET @Msg = 0
		END
	END

	ELSE IF(@Operation = 15)
	BEGIN
		IF((SELECT CountryId FROM tblEmployees WHERE EmployeeID = @UserID) = 13)
		BEGIN
			SET @Msg = 'S'
		END
		ELSE
		BEGIN
			SET @Msg = 'E'
		END
	END

	ELSE IF(@Operation = 16)
	BEGIN
		IF(ISNULL(@ConsultantID, 0) = 13)
		BEGIN
			SELECT EmployeeID AS [id], ISNULL(FirstName, '') + ' ' + ISNULL(LastName, '') AS [text]
			FROM dbo.tblEmployees
			WHERE (Active = 1) AND (CountryId = 13)
			AND Department = 'EC'
			ORDER BY Abbrivation;
		END

		ELSE IF(ISNULL(@ConsultantID, 0) = 19)
		BEGIN
			SELECT EmployeeID AS [id], ISNULL(FirstName, '') + ' ' + ISNULL(LastName, '') + ' (' + Abbrivation + ')' AS [text]
			FROM dbo.tblEmployees
			WHERE (Department = 'EI' OR Department = 'EC' OR Department = 'I') 
				AND (Active = 1) AND (EmployeeID IN (212, 197, 161, 277, 311, 312, 332, 292))
			ORDER BY Abbrivation;
		END
	END
END
