
ALTER PROCEDURE [dbo].[Get_ITWProjects_V1_Report]
	@Operation INT = NULL,
	@RefId VARCHAR(20) = NULL,
	@POType INT = NULL,
	@FromDate VARCHAR(20) = NULL,
	@ToDate VARCHAR(20) = NULL
AS
BEGIN		
	SET NOCOUNT ON;
    
	IF(@Operation = 1)
	BEGIN
		SELECT TW_Projects.RefId, TW_Company.Company, TW_Projects.JobID, TW_Projects.PONumber, TW_POType.[Type],
		CONVERT(VARCHAR, TW_Projects.POReceivedDate, 101) AS POReceivedDate, CONVERT(VARCHAR, TW_Projects.ShipDate, 101) AS ConfirmedShipDate, TW_Projects.EqPrice, Inv_Parts.PartNumber, Inv_Parts.PartDes, TW_ProjectParts.Qty AS OrderQty,
		Inv_UM.UM, ISNULL((SELECT SUM(ShipQty) FROM TW_ShipmentHistory WHERE ProjectPartId = TW_ProjectParts.ID), 0) AS ShipQty, TW_ProjectParts.PendingQty, TW_ProjectParts.Comments
		FROM TW_Projects
		LEFT JOIN TW_Company ON TW_Company.id = TW_Projects.CompanyId
		INNER JOIN TW_POType ON TW_POType.id = TW_Projects.POType
		LEFT JOIN TW_ProjectParts ON TW_ProjectParts.RefId = TW_Projects.RefId
		LEFT JOIN Inv_Parts ON Inv_Parts.id = TW_ProjectParts.PartID
		LEFT JOIN Inv_UM ON Inv_UM.id = Inv_Parts.UMId
		WHERE ((TW_Projects.RefId = @RefId) OR ISNULL(@RefId, '') = '')
			AND ((TW_Projects.POType = @POType) OR ISNULL(@POType, 0) = 0)
			AND (ISNULL(@FromDate, '') = '' OR (TW_Projects.POReceivedDate BETWEEN @FromDate AND @ToDate))
		ORDER BY TW_Projects.POReceivedDate DESC, Inv_Parts.PartNumber
	END

	ELSE IF(@Operation = 2)
	BEGIN
		SELECT id, [Type] AS [text]
		FROM TW_POType
		ORDER BY [Type]
	END
END
