ALTER PROCEDURE [IV].[Inv_GeneratePurchaseOrder]
	-- Add the parameters for the stored procedure here
	@PurchaseOrderId INT NULL
AS
BEGIN
			SELECT Inv_PurchaseOrder_Manual.PONumber AS PONumber,MIN(Inv_Source.[WarehouseName]) as ReqFor,
			MIN(PreEmp.FirstName) as Preparedby,			
			MIN(CONVERT(VARCHAR(10),IssueDate, 101)) AS IssueDate,
			MIN(Inv_Source.[Address]) as SourceAddress,
			MIN(CONVERT(VARCHAR(10),DATEADD(day, 60, IssueDate), 101)) AS ReqDate,
			CASE WHEN MIN(Inv_Parts.PartDes)='' THEN MIN(Inv_Parts.PartNumber)
			ELSE
			MIN(Inv_Parts.PartNumber) + ', ' + MIN(Inv_Parts.PartDes) END AS PartDesc,SUM(Inv_PurchaseOrderDetail_Manual.ReqQty) as ReqQty,
			SUM(Inv_PurchaseOrderDetail_Manual.OrderQty) as OrderQty,MIN(Inv_ProductCode.[name]) AS Division,
			MIN(Inv_ProductCode.[name]) AS [name],
			CASE WHEN MIN(Inv_Parts.revisionno) <> '' THEN MIN(Inv_Parts.PartNumber) + ' (' + MIN(Inv_Parts.revisionno) + ')'
			ELSE
			MIN(Inv_Parts.PartNumber) END as PartNumber,MIN(Inv_Parts.PartDes) AS PartDes,MIN(Inv_UM.UM) AS UM,
			CASE WHEN Inv_PurchaseOrderDetail_Manual.[Priority]=1 THEN 'Yes'
			ELSE 'No' END AS [Priority],
			Case When MIN(Inv_PurchaseOrderDetail_Manual.ShipmentBy)=1 then 'By Sea' ELSE 'By Air' END AS ShipBy,
			MIN(Inv_PurchaseOrder_Manual.Remarks) AS Remarks,		
			MIN(Inv_Warehouse.[Address]) AS [WareHouse]
			FROM Inv_Parts 
			INNER JOIN Inv_PurchaseOrderDetail_Manual
			ON Inv_PurchaseOrderDetail_Manual.PartId=Inv_Parts.id
			LEFT JOIN Inv_PurchaseOrder_Manual ON Inv_PurchaseOrder_Manual.id=Inv_PurchaseOrderDetail_Manual.PurchaseOrderId
			LEFT JOIN Inv_Warehouse AS Inv_Source ON Inv_Source.id=Inv_PurchaseOrder_Manual.SourceId
			LEFT JOIN tblEmployees AS PreEmp ON PreEmp.EmployeeID=Inv_PurchaseOrder_Manual.PreparedBy
			LEFT JOIN Inv_ProductCode ON Inv_ProductCode.id=Inv_Parts.productcode			
			LEFT JOIN Inv_UM ON Inv_UM.id=Inv_Parts.UMid
			LEFT JOIN Inv_Warehouse ON Inv_Warehouse.Id=Inv_PurchaseOrder_Manual.WareHouseID
			WHERE Inv_PurchaseOrderDetail_Manual.PurchaseOrderId = @PurchaseOrderId
			GROUP BY Inv_PurchaseOrder_Manual.PONumber,Inv_Parts.id,Inv_PurchaseOrderDetail_Manual.[Priority]
			ORDER BY PartDesc
END
