ALTER PROCEDURE [IV].[Inv_ManageStockInNew_V1]
	@Operation		INT = NULL,
	@ReceivedDate	DATE = NULL,
	@ID				INT = NULL,
	@RevisedETA		DATE = NULL,
	@Comments		VARCHAR(250) = NULL,
	@EmployeeID		INT = NULL,
	@PackingList	Varchar(Max)=NULL,
	@ContainerID	INT=NULL,
	@SearchVar		VARCHAR(MAX)=NULL,
	@Status			INT=NULL,
	@ContainerDetailID	INT=NULL,
	@msg			VARCHAR(500) = '' OUTPUT
AS
BEGIN
	IF(@Operation = 1) --LOAD DROPDOWNS
	BEGIN
		SELECT Id as [ID],
		Inv_Warehouse.[WarehouseName] AS [Source] 		
		FROM Inv_Warehouse
		Order by Inv_Warehouse.Id ASC

		SELECT Inv_Container.id AS ContainerID,
		CASE WHEN Inv_Container.ContainerNo = '' THEN Inv_Container.InvoiceNo ELSE
		CONCAT(Inv_Container.InvoiceNo + '/ ', Inv_Container.ContainerNo + '') END AS ContainerDetail
		FROM Inv_Container 
		WHERE Inv_Container.IsSubmitted = 1 
		AND Inv_Container.ReceivedDate IS NULL
		ORDER BY InvoiceNo ASC
	END

	ELSE IF(@Operation = 2) -- LOAD CONTAINER FOR SPECIFIC SOURCE
	BEGIN
		SELECT Inv_Container.id AS ContainerID,
		CASE WHEN Inv_Container.ContainerNo = '' THEN Inv_Container.InvoiceNo ELSE
		CONCAT(Inv_Container.InvoiceNo + '/ ', Inv_Container.ContainerNo + '') END AS ContainerDetail
		FROM Inv_Container 
		WHERE Inv_Container.IsSubmitted = 1 
		AND Inv_Container.ReceivedDate IS NULL
		AND Inv_Container.Sourceid = @ID
		ORDER BY Inv_Container.InvoiceNo ASC
	END

	ELSE IF(@Operation = 3)--GET SOURCE FOR CONTAINER
	BEGIN
		SET @msg = (SELECT TOP 1 Sourceid AS SourceID
					FROM Inv_Container 
					WHERE Inv_Container.id = @ID)
	END

	ELSE IF(@Operation = 4)--GET CONTAINER INFO 
	BEGIN
		SET @msg = (SELECT TOP 1 Convert(Varchar(10),ReceivedDate,101) as ReceivedDate
					FROM Inv_Container
					WHERE id = @ID)
	END

	ELSE IF(@Operation = 5)--GET SHIPMENT INFORMATION (HISTORY)
	BEGIN
		SELECT CSS.id, ContainerID,CONVERT(VARCHAR(20), CSS.RevisedETA, 101) AS RevisedETA, CSS.Comments,
		CASE 
		WHEN CSS.[Status]=1 Then 'On the water'
		WHEN CSS.[Status]=2 Then 'At the port'
		WHEN CSS.[Status]=3 Then 'On the rail'	
		End AS ProjectStatus,CSS.[Status] as [StatusID]
		FROM Inv_ContainerShipmentStatus CSS		
		WHERE CSS.ContainerID = @ID AND RevisedETA IS NOT NULL
		ORDER BY RevisedETA DESC
	END

	ELSE IF(@Operation = 6)--INSERT SHIPMENT INFORMATION (HISTORY)
	BEGIN
		INSERT INTO Inv_ContainerShipmentStatus(ContainerID, RevisedETA, Comments,[Status],InsertedDate)
		VALUES(@ID, @RevisedETA, @Comments,@Status,GETDATE())

		INSERT INTO tblShipmentLogs (Containerid,LastUpdatedDate,Comments) VALUES (@ContainerID,GETDATE(),'RevisedETA')

		SET @msg = 'Record inserted successfully!!'
	END

	ELSE IF(@Operation = 7)--UPDATE SHIPMENT INFORMATION (HISTORY)
	BEGIN
		UPDATE Inv_ContainerShipmentStatus SET RevisedETA = @RevisedETA, Comments = @Comments,[Status]=@Status,
		InsertedDate=GETDATE()
		WHERE ID = @ContainerDetailID and ContainerID=@ID

		INSERT INTO tblShipmentLogs (Containerid,LastUpdatedDate,Comments) VALUES (@ContainerID,GETDATE(),'RevisedETA')
		SET @msg = 'Record updated successfully!!'
	END

	ELSE IF(@Operation = 8)--DELETE SHIPMENT INFORMATION (HISTORY)
	BEGIN
		DELETE FROM Inv_ContainerShipmentStatus
		WHERE ID = @ID

		SET @msg = 'Record deleted successfully!!'
	END

	ELSE IF(@Operation = 9)--STOCKIN CONTAINER
	BEGIN
		BEGIN TRY 
		BEGIN TRANSACTION 
			DECLARE @WarehouseID INT
			DECLARE @PART_ID INT
			DECLARE @SHIP_QTY INT              
			DECLARE CUR_PART CURSOR            

			STATIC FOR			
			SELECT WareHouseID,PartId, SUM(ShipQty) AS ShipQty
			FROM Inv_ContainerDetail
			INNER JOIN Inv_Container ON Inv_Container.id = Inv_ContainerDetail.ContainerId			
			WHERE ContainerId = @ID AND ShipQty > 0 AND Inv_Container.ReceivedDate IS NOT NULL
			Group by WareHouseID,PartId
	
			OPEN CUR_PART

			IF @@CURSOR_ROWS > 0
			BEGIN
				FETCH NEXT FROM CUR_PART INTO @WarehouseID,@PART_ID, @SHIP_QTY

				WHILE @@FETCH_STATUS = 0
				BEGIN                                
					DECLARE @openstockT INT
					DECLARE @closestockT INT

					IF EXISTS(SELECT Id FROM Inv_Parts_StockInHand WHERE PartId = @PART_ID AND WarehouseId = @WarehouseID)
					BEGIN
					SET @openstockT = (SELECT TOP 1 ISNULL(Inv_Parts_StockInHand.[stockinhand],0) FROM  Inv_Parts_StockInHand 
					WHERE Inv_Parts_StockInHand.PartId=@PART_ID AND WarehouseId=@WarehouseID)
					END
					ELSE
					BEGIN
					SET @openstockT =NULL	
					END
					
					IF(@SHIP_QTY > 0)
					BEGIN
						SET @closestockT = (ISNULL(@openstockT,0) + ABS(@SHIP_QTY))
					END			
					

								 
					INSERT INTO Inv_StockTransactions
					([partid], [openingstock], [transactqty], [closingstock], 
					[transactdatetime], [transactsummary], 
					[transactby], [transactmode],WarehouseId)
					VALUES
					(@PART_ID, ISNULL(@openstockT,0), @SHIP_QTY, @closestockT, GETDATE(), 'Container Stock In', '263', 'A',@WarehouseID)


					IF EXISTS(SELECT PartId FROM Inv_Parts_StockInHand WHERE PartId=@PART_ID AND WarehouseId=@WarehouseID)
					BEGIN
						UPDATE Inv_Parts_StockInHand SET PartId=@PART_ID,
						StockInHand=@closestockT,
						UpdatedByUser=@EmployeeID,UpdatedDate=GETDATE(),
						WarehouseId=@WarehouseID
						WHERE PartId=@PART_ID AND WarehouseId=@WarehouseID
					END
					ELSE
					BEGIN
					INSERT INTO Inv_Parts_StockInHand (PartId,WarehouseId,StockInHand,InsertedDate,InsertedByUser,
					UpdatedDate,UpdatedByUser)
					VALUES(@PART_ID,@WarehouseID,@closestockT,GETDATE(),@EmployeeID,NULL,NULL)
					END
					
													 								 
					FETCH NEXT FROM CUR_PART INTO @WarehouseID,@PART_ID, @SHIP_QTY
				END
			END
              
			CLOSE CUR_PART
			DEALLOCATE CUR_PART


			UPDATE Inv_Container SET IsStockIn = 1 WHERE id = @ID

			INSERT INTO [dbo].[Inv_ContainerLogs]
			([ContainerId], [ReceivedDate], [ReceivedBy])
			VALUES
			(@ID, GETDATE(), @EmployeeID)						

			IF @@TRANCOUNT > 0
			COMMIT
		
			SET @msg = 'Stock In Successfull !!'	 
		END TRY

		BEGIN CATCH 
			IF @@TRANCOUNT > 0
				ROLLBACK
			  --SELECT ERROR_NUMBER() AS ErrorNumber
			  --SELECT ERROR_MESSAGE() AS ErrorMessage		
		   END CATCH
	END

	ELSE IF(@Operation=10)
	BEGIN
		SELECT PackingList as PackingList FROM Inv_Container WHERE id=@ID

	END


	ELSE IF(@Operation=11)
	BEGIN
		UPDATE Inv_Container SET PackingList=@PackingList WHERE id=@ID	

		UPDATE Inv_Container SET ReceivedDate = @ReceivedDate WHERE id = @ID

		SET @msg='Packing List Uploaded Successfully !!'

	END

	--Stock In Permissions Eng Dep
	ELSE IF(@Operation=12)
	BEGIN
		DECLARE @CheckEmployeePermisssion as INT=NULL
		DECLARE @CheckStockIn	as INT=NULL
		SET @CheckStockIn=(SELECT ISNULL(IsStockIn,0) FROM Inv_Container WHERE id=@ID)
		if(@CheckStockIn=0)
		BEGIN
			SET @CheckEmployeePermisssion=(SELECT EngDepID FROM CheckInventoryPermission(@EmployeeID))
			IF(@CheckEmployeePermisssion=7)
			BEGIN
				SET @msg=1
			END
			ELSE
			BEGIN
				SET @msg=0
			END
		END
		ELSE
		BEGIN
				SET @msg=0
		END

	END


	ELSE IF(@Operation=13)
	BEGIN
		SELECT TOP 1 Convert(Varchar(20),RevisedETA,101) AS RevisedETA,Comments FROM Inv_ContainerShipmentStatus 
		WHERE ContainerID=@ID
		ORDER BY RevisedETA DESC
	END

	--Shipment Permissions Liezl-229
	ELSE IF(@Operation=14)
	BEGIN
		DECLARE @CheckEmployee as INT=NULL
		SET @CheckEmployee=(SELECT EmployeeID FROM tblEmployees WHERE EmployeeID=@EmployeeID)
		IF(@EmployeeID IN (229,263,1378))
		BEGIN
			SET @msg=1
		END
		ELSE
		BEGIN
			SET @msg=0
		END
	END

	ELSE IF(@Operation=15)
BEGIN
	SELECT Id as [ID],
	Inv_Warehouse.[WarehouseName] AS [Source] 		
	FROM Inv_Warehouse
	Order by Inv_Warehouse.Id ASC


	SELECT Inv_Container.id AS ContainerID,
	CASE WHEN Inv_Container.ContainerNo = '' THEN Inv_Container.InvoiceNo ELSE
		CONCAT(Inv_Container.InvoiceNo + '/ ', Inv_Container.ContainerNo + '') END
	AS ContainerDetail
	FROM Inv_Container 
	INNER JOIN Inv_ContainerDetail ON Inv_ContainerDetail.ContainerId=Inv_Container.id
	WHERE Inv_Container.IsSubmitted = 1 AND Inv_Container.ReceivedDate IS NOT NULL
	AND Inv_Container.IsStockIn IS NULL
	GROUP BY Inv_Container.id,Inv_Container.InvoiceNo, Inv_Container.ContainerNo
	ORDER BY Concat(Inv_Container.InvoiceNo + '/', Inv_Container.ContainerNo) ASC

END
ELSE IF(@Operation=16)
BEGIN
	SELECT Inv_Container.id AS ContainerID,
	CASE WHEN Inv_Container.ContainerNo = '' THEN Inv_Container.InvoiceNo ELSE
	CONCAT(Inv_Container.InvoiceNo + '/ ', Inv_Container.ContainerNo + '') END AS ContainerDetail
	FROM Inv_Container 
	INNER JOIN Inv_ContainerDetail ON Inv_ContainerDetail.ContainerId=Inv_Container.id
	WHERE Inv_Container.IsSubmitted = 1 AND Inv_Container.ReceivedDate IS NOT NULL
	AND Inv_Container.Sourceid = @ID
	AND Inv_Container.IsStockIn IS NULL
	GROUP BY Inv_Container.id,Inv_Container.InvoiceNo, Inv_Container.ContainerNo
	ORDER BY Concat(Inv_Container.InvoiceNo + '/', Inv_Container.ContainerNo) ASC
END
ELSE IF(@Operation=17)
BEGIN
	DECLARE @isReceivedDate as Varchar(10)=NULL
	SET @isReceivedDate=(SELECT Inv_Container.id
	FROM Inv_Container 
	INNER JOIN Inv_ContainerDetail ON Inv_ContainerDetail.ContainerId=Inv_Container.id
	WHERE Inv_Container.IsSubmitted = 1 AND Inv_Container.ReceivedDate IS NOT NULL
	AND Inv_Container.IsStockIn IS NULL AND Inv_Container.id=@ID
	GROUP BY Inv_Container.id)
				
	SET @msg=@isReceivedDate
END
ELSE IF(@Operation=18)
BEGIN
	DECLARE @TempTableExportToExcelGrid as Table(			
		PartNo      varchar(500),
		Vendor		varchar(50),
		[min]		int,
		[max]		int,
		StockInHand	int			
	)
	INSERT INTO @TempTableExportToExcelGrid
	select 
	Concat(PartNumber + ' ', Inv_Parts.PartDes) as PartNo,
	Inv_Source.[Source] AS [Vendor],Inv_Parts.[min] as [min],
	Inv_Parts.[max] as [max]
	,Inv_Parts_StockInHand.stockinhand as [StockInHand]
	from Inv_Parts_StockInHand 
	INNER JOIN Inv_ContainerDetail ON Inv_ContainerDetail.PartId=Inv_Parts_StockInHand.PartId
	INNER JOIN Inv_Container ON Inv_ContainerDetail.ContainerId=Inv_Container.id
	INNER JOIN Inv_PurchaseOrder_Manual ON Inv_PurchaseOrder_Manual.Id=Inv_ContainerDetail.POId
	INNER JOIN Inv_Source ON Inv_Source.id=Inv_Container.Sourceid
	INNER JOIN Inv_Parts ON Inv_Parts.id=Inv_Parts_StockInHand.PartId
	INNER JOIN Inv_Warehouse ON Inv_Warehouse.Id=Inv_Parts_StockInHand.WarehouseId
	where Inv_ContainerDetail.ContainerId=@ContainerID
	GROUP BY Concat(PartNumber + ' ', Inv_Parts.PartDes),Inv_Source.[Source],
	Inv_Parts.[min],Inv_Parts.[max],Inv_Parts.stockinhand,Inv_Parts_StockInHand.stockinhand
	Order By Concat(PartNumber + ' ', Inv_Parts.PartDes) ASC	

	SELECT PartNo,
	Vendor,[min] as [Min],[max] as [Max],StockInHand 				
	FROM @TempTableExportToExcelGrid where StockInHand < 0
END
ELSE IF(@Operation=19)
BEGIN
		-- ALL
		DECLARE @SQL AS VARCHAR(MAX)=NULL
		--Selected Container
		SET @SQL='SELECT DISTINCT Inv_Container.id AS ContainerID,
		InvoiceNo,ContainerNo,
		Convert(Varchar(20),ReceivedDate,101) AS ReceivedDate,PackingList,
		(SELECT TOP 1 Convert(Varchar(20),RevisedETA,101) as RevisedETA FROM Inv_ContainerShipmentStatus WHERE Inv_ContainerShipmentStatus.ContainerID=
		Inv_Container.id Order by RevisedETA DESC) AS RevisedETA,
		(SELECT TOP 1 Comments FROM Inv_ContainerShipmentStatus WHERE Inv_ContainerShipmentStatus.ContainerID=
		Inv_Container.id Order by RevisedETA DESC) AS Comments,
		CASE WHEN (ContainerNo IS NULL OR ContainerNo='''') THEN InvoiceNo
		ELSE ContainerNo END AS ContainerNoLink
		FROM Inv_Container
		LEFT JOIN Inv_ContainerShipmentStatus ON Inv_ContainerShipmentStatus.ContainerID=Inv_Container.id
		LEFT JOIN Inv_Source ON Inv_Source.id=Inv_Container.Sourceid
		WHERE Inv_Container.IsSubmitted=1' +@SearchVar

		EXEC(@SQL)		
		
END
ELSE IF(@Operation = 20) --LOAD DROPDOWNS
BEGIN
	SELECT ID, [Source] 
	FROM Inv_Source 
	WHERE Inv_Source.id IN (1,2)
	ORDER BY Inv_Source.[Source]

	SELECT Inv_Container.id AS ContainerID,
	CASE WHEN Inv_Container.ContainerNo = '' THEN Inv_Container.InvoiceNo ELSE
	CONCAT(Inv_Container.InvoiceNo + '/ ', Inv_Container.ContainerNo + '') END AS ContainerDetail
	FROM Inv_Container 
	WHERE Inv_Container.IsSubmitted = 1 
	--AND Inv_Container.ReceivedDate IS NOT NULL 
	ORDER BY InvoiceNo ASC
END
ELSE IF(@Operation=21)
BEGIN
		SELECT Inv_Container.id AS ContainerID,
		CASE WHEN Inv_Container.ContainerNo = '' THEN Inv_Container.InvoiceNo ELSE
		CONCAT(Inv_Container.InvoiceNo + '/ ', Inv_Container.ContainerNo + '') END AS ContainerDetail
		FROM Inv_Container 
		WHERE Inv_Container.IsSubmitted = 1 
		--AND Inv_Container.ReceivedDate IS NOT NULL
		AND Inv_Container.Sourceid = @ID
		ORDER BY Inv_Container.InvoiceNo ASC

END
ELSE IF(@Operation=22)
BEGIN
SET @msg = (SELECT TOP 1 Inv_Warehouse.[WarehouseName] as DestinationID
			FROM Inv_Container
			LEFT JOIN Inv_Warehouse ON
			Inv_Warehouse.Id=Inv_Container.WareHouseID
			WHERE Inv_Container.id = @ID)


END
END
